body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    background: url('../../assets/background.jpg') no-repeat center center/cover;
    color: white;
}

form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.2); /* Light transparent background */
    backdrop-filter: blur(5px);
}

input, textarea {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    background: transparent;
    color: white;
    font-size: 16px;
}

input::placeholder, textarea::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

textarea {
    height: 150px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

.submit-btn { background-color: #4caf50; }
.submit-btn:hover { background-color: #45a049; }
.cancel-btn { background-color: #f44336; }
.cancel-btn:hover { background-color: #d32f2f; }
.go-back-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #008CBA;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
